# Virtual Environment
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build files
dist/
build/

# SQLite DB (if any)
*.sqlite3